/* font */
@font-face {
  font-family: 'Noto Sans KR Bold';
  src: url("../font/NotoSansKR-Bold-Hestia.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR Regular';
  src: url("../font/NotoSansKR-Regular-Hestia.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR Light';
  src: url("../font/NotoSansKR-Light-Hestia.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../font/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../font/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

.wrapper .header .quick-menu, .tab-wrap [class^=type-], .gnb .gnb-header .gnb-header-menu ul, .gnb .gnb-menu-list .menu-list, .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul, .gnb .gnb-footer .gnb-footer-menu {
  *zoom: 1; }
  .wrapper .header .quick-menu:before, .tab-wrap [class^=type-]:before, .gnb .gnb-header .gnb-header-menu ul:before, .gnb .gnb-menu-list .menu-list:before, .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul:before, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul:before, .gnb .gnb-footer .gnb-footer-menu:before, .wrapper .header .quick-menu:after, .tab-wrap [class^=type-]:after, .gnb .gnb-header .gnb-header-menu ul:after, .gnb .gnb-menu-list .menu-list:after, .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul:after, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul:after, .gnb .gnb-footer .gnb-footer-menu:after {
    content: '';
    display: table; }
  .wrapper .header .quick-menu:after, .tab-wrap [class^=type-]:after, .gnb .gnb-header .gnb-header-menu ul:after, .gnb .gnb-menu-list .menu-list:after, .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul:after, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul:after, .gnb .gnb-footer .gnb-footer-menu:after {
    clear: both; }

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.btn-lg-01, .btn-lg-02, .btn-lg-02.active, .btn-lg-03, .btn-lg-04, .btn-lg-05, .btn-kakao, .btn-naver, .btn-md-01, .btn-md-02, .btn-md-03, .btn-sm-01, .btn-sm-02, .btn-sm-03, .btn-sm-round, .btn-sm-download, .field-block .btn-input {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center; }

.btn-sm-download:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 5px; }

.search-type-01 .btn-delete, .search-type-02 .btn-delete, .search-type-03 .btn-delete {
  width: 19px;
  height: 19px;
  background-color: #cdcdcd;
  border-radius: 50%; }
  .search-type-01 .btn-delete:before, .search-type-02 .btn-delete:before, .search-type-03 .btn-delete:before, .search-type-01 .btn-delete:after, .search-type-02 .btn-delete:after, .search-type-03 .btn-delete:after {
    position: absolute;
    top: 28%;
    left: 48%;
    content: '';
    height: 10px;
    width: 1px;
    background-color: white; }
  .search-type-01 .btn-delete:before, .search-type-02 .btn-delete:before, .search-type-03 .btn-delete:before {
    transform: rotate(45deg); }
  .search-type-01 .btn-delete:after, .search-type-02 .btn-delete:after, .search-type-03 .btn-delete:after {
    transform: rotate(-45deg); }

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans KR Regular", "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 700; }

fieldset, img {
  border: 0; }

dl, ul, ol, menu, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

button {
  border: 0;
  background-color: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none;
  overflow-x: hidden; }

input[type='text'], input[type='password'], input[type='submit'], input[type='search'] {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0; }

input:checked[type='checkbox'] {
  background-color: #666;
  -webkit-appearance: checkbox; }

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='fcile'] {
  -webkit-appearance: button;
  border-radius: 0; }

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

body {
  background: white;
  overflow-x: hidden; }

body, th, td, input, select, textarea, button {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR Regular", "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1a1a1a;
  letter-spacing: -0.5px; }

a {
  color: #1a1a1a;
  text-decoration: none; }

a:active, a:hover {
  text-decoration: none; }

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal; }

::placeholder {
  font-size: 16px;
  opacity: 1;
  font-family: "Noto Sans KR Regular", "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 400; }

li, label, input, textarea, button, select, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none; }

/* common */
.img-full img {
  width: 100%;
  height: auto; }

.hide {
  display: none !important; }

.show {
  display: inline-block !important; }

.dim:after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0; }

/* layout */
.wrapper {
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
  background-color: white; }

.header {
  display: block;
  width: 100%;
  height: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 11; }

.header.scroll {
  border-bottom: 1px solid #e9e9e9; }

.header.main.scroll {
  border-bottom: 0;
  transform: translateY(-50px); }

.header .title {
  font-size: 18px;
  color: black;
  line-height: 50px;
  text-align: center;
  font-weight: 400; }

.header .btn-back {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../img/icon/ico_back_black.png) 0 0 no-repeat;
  background-size: 100% auto; }

.header .btn-close {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../img/icon/ico_x_black.png) 0 0 no-repeat;
  background-size: 100% auto; }

.container .title {
  font-size: 15px;
  margin-bottom: 20px; }

.wrapper .header .left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 0 0 10px;
  font-size: 0;
  line-height: 0; }

.wrapper .header .right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 10px 0 0;
  font-size: 0;
  line-height: 0; }

.wrapper .header .header-logo {
  display: inline-block;
  width: 92px;
  height: 36px;
  background: url(../img/common/img_logo_black.png) 0 0 no-repeat;
  background-size: 100% auto;
  vertical-align: top;
  margin-left: 12px; }

.wrapper .header .btn-nav {
  display: inline-block;
  width: 32px;
  height: 36px;
  background: url(../img/common/ico_ham_black.png) 0 0 no-repeat;
  background-size: 100% auto;
  vertical-align: top; }

.wrapper .header .quick-menu > li {
  float: left;
  margin-left: 8px; }
  .wrapper .header .quick-menu > li:first-child {
    margin-left: 0; }
  .wrapper .header .quick-menu > li [class^=menu] {
    display: block;
    width: 32px;
    height: 36px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; }
    .wrapper .header .quick-menu > li [class^=menu].menu-search {
      background-image: url(../img/icon/ico_search_black.png);
      background-size: 30px auto; }
    .wrapper .header .quick-menu > li [class^=menu].menu-my {
      background-image: url(../img/icon/ico_my_black.png); }
    .wrapper .header .quick-menu > li [class^=menu].menu-cart {
      background-image: url(../img/icon/ico_cart_black.png);
      position: relative; }
      .wrapper .header .quick-menu > li [class^=menu].menu-cart .count {
        min-width: 15px;
        height: 15px;
        display: block;
        border-radius: 40px;
        background: #f02f6f;
        color: white;
        font-size: 10px;
        text-align: center;
        line-height: 15px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 3px;
        box-sizing: border-box; }
  .wrapper .header .quick-menu > li.show .search-area {
    -webkit-transition: width .1s ease-in-out;
    -moz-transition: width .1s ease-in-out;
    -o-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    width: calc(720px - 143px);
    overflow: inherit; }
    @media screen and (max-width: 414px) {
      .wrapper .header .quick-menu > li.show .search-area {
        width: calc(100% - 143px); } }
    .wrapper .header .quick-menu > li.show .search-area .search-type-01 {
      width: 100%; }

.wrapper .header .quick-menu .search-area {
  position: absolute;
  right: 90px;
  top: 10px;
  width: 0;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .wrapper .header .quick-menu .search-area {
      position: fixed; } }
  .wrapper .header .quick-menu .search-area .search-type-01 {
    width: 60px; }

.wrapper .header .btn-nav,
.wrapper .header .header-logo,
.wrapper .header .quick-menu,
.wrapper .header .btn-back,
.wrapper .header .btn-close,
.wrapper .header .btn-home,
.wrapper .header .btn-heart,
.wrapper .header .btn-cart {
  display: none; }

.wrapper .header.main .btn-nav,
.wrapper .header.main .header-logo,
.wrapper .header.main .quick-menu {
  display: inline-block; }

/* layer popup */
.layer-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding-top: 50px; }

.layer-popup .layer-close {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 32px;
  height: 36px;
  background: url(../img/icon/ico_x_black.png) 0 0 no-repeat;
  background-size: 100% auto; }

.layer-popup .header {
  position: fixed; }

.layer-popup .layer-contents {
  padding: 16px;
  overflow-y: auto;
  height: calc(100% - 50px);
  box-sizing: border-box; }

.layer-popup.terms .layer-contents {
  font-size: 12px;
  color: #777777;
  line-height: 16px; }

.layer-popup.terms .layer-title {
  display: block;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 16px; }

.layer-popup.terms .layer-title em {
  color: #aaaaaa; }

.layer-popup.terms strong {
  display: block;
  margin: 30px 0 20px;
  font-weight: 400; }

.layer-popup.terms p, .layer-popup.terms li {
  margin-bottom: 20px; }

.layer-popup.terms p:last-child, .layer-contents.terms li:last-child {
  margin-bottom: 0; }

/* button */
button:disabled {
  cursor: inherit; }

[class^=btn-lg].disabled {
  cursor: inherit;
  background-color: #cdcdcd;
  color: white;
  border-color: #cdcdcd; }

[class^=btn-sm].disabled {
  cursor: inherit;
  color: #cdcdcd;
  border-color: #cdcdcd; }

[class^=btn-sm] {
  letter-spacing: -1px; }

.btn-lg-01 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: white;
  border: 1px solid #f02f6f;
  background-color: #f02f6f; }
  .btn-lg-01:disabled {
    background-color: #cdcdcd;
    border-color: #cdcdcd; }

.btn-lg-02 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: #777777;
  border: 1px solid #e5e5e5; }
  .btn-lg-02.active {
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: white;
    font-size: 16px;
    color: white;
    border: 1px solid #f02f6f;
    background-color: #f02f6f; }
    .btn-lg-02.active:disabled {
      background-color: #cdcdcd;
      border-color: #cdcdcd; }

.btn-lg-03 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: white;
  border: 1px solid #51617d;
  background-color: #51617d; }
  .btn-lg-03:disabled {
    background-color: #cdcdcd;
    border-color: #cdcdcd; }

.btn-lg-04 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: #f02f6f;
  border: 1px solid #f02f6f; }

.btn-lg-05 {
  width: 200px;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: #777777;
  border: 1px solid #e5e5e5; }

.btn-kakao, .btn-naver {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: white;
  font-size: 16px;
  color: #777777;
  border: 1px solid #e5e5e5;
  font-size: 15px; }
  .btn-kakao:before, .btn-naver:before {
    content: '';
    display: block;
    border-right: 1px solid #e5e5e5;
    width: 54px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../img/icon/ico_kakao.svg) center center no-repeat;
    background-size: 18px auto; }

.btn-naver:before {
  background: url(../img/icon/ico_naver.svg) center center no-repeat;
  background-size: 15px auto; }

.btn-md-01 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  font-size: 11px;
  color: #777777;
  border: 1px solid #e5e5e5; }

.btn-md-02 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  font-size: 13px;
  color: #555555;
  border: 1px solid #e5e5e5;
  background-color: #f3f3f3; }
  .btn-md-02:disabled {
    background-color: #cdcdcd;
    border-color: #cdcdcd; }

.btn-md-03 {
  width: 50%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  font-size: 11px;
  color: #f02f6f;
  border: 1px solid #f02f6f; }

.btn-sm-01 {
  width: auto;
  height: 30px;
  line-height: 30px;
  background-color: white;
  font-size: 11px;
  color: #f02f6f;
  border: 1px solid #f02f6f;
  font-weight: 700; }

.btn-sm-02 {
  width: auto;
  height: 30px;
  line-height: 30px;
  background-color: white;
  font-size: 11px;
  color: #555555;
  border: 1px solid #777777;
  background-color: white; }

.btn-sm-03 {
  width: auto;
  height: 30px;
  line-height: 30px;
  background-color: white;
  font-size: 11px;
  color: #777777;
  border: 1px solid #e5e5e5; }

.btn-sm-round {
  width: auto;
  height: 30px;
  line-height: 30px;
  background-color: white;
  font-size: 11px;
  color: #777777;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 0 8px; }

.btn-sm-download {
  width: auto;
  height: 30px;
  line-height: 30px;
  background-color: white;
  font-size: 11px;
  color: #f02f6f;
  border: 1px solid #f02f6f;
  padding: 0 8px; }
  .btn-sm-download:after {
    background-image: url(../img/icon/ico_cu_dwn_sm_n.png); }
  .btn-sm-download.disabled:after {
    background-image: url(../img/icon/ico_cu_dwn_sm_d.png); }

.btn-group [class^=btn] {
  margin-top: 10px; }
  .btn-group [class^=btn]:first-child {
    margin-top: 0; }

.row {
  font-size: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 -3px; }
  .row .col-02 {
    width: 50%;
    padding: 0 3px;
    display: inline-block;
    box-sizing: border-box; }
  .row .col-03 {
    width: 33.33%;
    padding: 0 3px;
    display: inline-block;
    box-sizing: border-box; }
    .row .col-03 [class^=btn] {
      font-size: 13px; }

.link-del {
  color: #555555; }

.link-arrow-down {
  color: #555555; }
  .link-arrow-down:after {
    content: '';
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
    margin-left: 7px; }
  .link-arrow-down.sm {
    color: #51617d;
    font-size: 13px; }
    .link-arrow-down.sm:after {
      padding: 2px; }

.link-arrow-up {
  color: #555555; }
  .link-arrow-up:after {
    content: '';
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 7px; }

.link-arrow-right {
  color: #555555; }
  .link-arrow-right:after {
    content: '';
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 2px;
    margin-left: 4px; }
  .link-arrow-right.sm {
    font-size: 12px;
    color: #777777; }
    .link-arrow-right.sm:after {
      padding: 2px;
      margin-bottom: 3px; }

.link-del:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 26px;
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: -3px;
  background-image: url(../img/icon/ico_delete.png); }

.link-customer {
  color: #1a75eb; }
  .link-customer:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 26px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -3px;
    background-image: url(../img/icon/ico_call.png);
    margin-right: 3px;
    margin-top: 1px; }
  .link-customer:after {
    content: '';
    border: solid #777777;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 2px;
    margin-left: 4px;
    border-color: #1a75eb; }

.link-logout {
  font-size: 13px;
  color: #777777; }
  .link-logout:before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-top: -3px;
    background-image: url(../img/icon/ico_logout.png);
    margin-right: 3px; }

.tab-wrap [class^=type-] li {
  float: left; }
  .tab-wrap [class^=type-] li .tab-menu {
    display: block;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: white;
    margin-left: -1px; }
    .tab-wrap [class^=type-] li .tab-menu.active {
      position: relative; }

.tab-wrap [class^=type-].type-01 li {
  width: 20%; }
  .tab-wrap [class^=type-].type-01 li:first-child .tab-menu {
    border-radius: 3px 0 0 3px; }
  .tab-wrap [class^=type-].type-01 li:last-child .tab-menu {
    border-radius: 0 3px 3px 0; }
  .tab-wrap [class^=type-].type-01 li .tab-menu {
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    color: #aaaaaa; }
    .tab-wrap [class^=type-].type-01 li .tab-menu.active {
      color: #f02f6f;
      border-color: #f02f6f; }

.tab-wrap [class^=type-].type-02 li {
  width: 25%; }
  .tab-wrap [class^=type-].type-02 li:first-child .tab-menu {
    border-radius: 3px 0 0 0; }
  .tab-wrap [class^=type-].type-02 li:nth-child(4) .tab-menu {
    border-radius: 0 3px 0 0; }
  .tab-wrap [class^=type-].type-02 li:nth-child(5) .tab-menu {
    border-radius: 0 0 0 3px; }
  .tab-wrap [class^=type-].type-02 li:last-child .tab-menu {
    border-radius: 0 0 3px 0; }
  .tab-wrap [class^=type-].type-02 li .tab-menu {
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    color: #aaaaaa;
    margin-top: -1px; }
    .tab-wrap [class^=type-].type-02 li .tab-menu.active {
      color: #222;
      background-color: #f4f7fb; }

.tab-wrap [class^=type-].type-03 li {
  width: 50%; }
  .tab-wrap [class^=type-].type-03 li:first-child .tab-menu {
    border-radius: 3px 0 0 0; }
  .tab-wrap [class^=type-].type-03 li:last-child .tab-menu {
    border-radius: 0 3px 0 0; }
  .tab-wrap [class^=type-].type-03 li .tab-menu {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    color: #aaaaaa;
    background-color: #f5f5f5; }
    .tab-wrap [class^=type-].type-03 li .tab-menu.active {
      color: #1a1a1a;
      background-color: white;
      border-color: #777777;
      border-bottom: 0; }

/* form */
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
select {
  border-radius: 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
  transition: border-color 0.2s; }
  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  input[type='number']::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: #cdcdcd;
    font-size: 14px; }
  input[type='text']:-moz-placeholder,
  input[type='tel']:-moz-placeholder,
  input[type='email']:-moz-placeholder,
  input[type='password']:-moz-placeholder,
  input[type='number']:-moz-placeholder,
  select:-moz-placeholder {
    color: #cdcdcd;
    font-size: 14px; }
  input[type='text']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  input[type='number']::-moz-placeholder,
  select::-moz-placeholder {
    color: #cdcdcd;
    font-size: 14px; }
  input[type='text']::placeholder,
  input[type='tel']::placeholder,
  input[type='email']::placeholder,
  input[type='password']::placeholder,
  input[type='number']::placeholder,
  select::placeholder {
    color: #cdcdcd;
    opacity: 1;
    font-size: 14px; }
  input[type='text']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  input[type='number']:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: #cdcdcd;
    font-size: 14px; }
  input[type='text']::-ms-input-placeholder,
  input[type='tel']::-ms-input-placeholder,
  input[type='email']::-ms-input-placeholder,
  input[type='password']::-ms-input-placeholder,
  input[type='number']::-ms-input-placeholder,
  select::-ms-input-placeholder {
    color: #cdcdcd;
    font-size: 14px; }
  input[type='text']:focus,
  input[type='tel']:focus,
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='number']:focus,
  select:focus {
    outline: none;
    border-bottom: 1px solid #1a1a1a; }
  input[type='text']:disabled,
  input[type='tel']:disabled,
  input[type='email']:disabled,
  input[type='password']:disabled,
  input[type='number']:disabled,
  select:disabled {
    background: transparent; }

.select-type-02 select {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background: url(../img/icon/icon_option_arrow.png) right center no-repeat;
  background-size: 30px auto; }
  .select-type-02 select:invalid {
    color: #cdcdcd; }

.checkbox {
  display: inline-block; }
  .checkbox.round input[type='checkbox'] + label:before {
    width: 22px;
    height: 22px;
    background: url(../img/common/check_n.png) 0 0 no-repeat;
    background-size: 100% auto; }
  .checkbox.round input[type='checkbox']:checked + label:before {
    background: url(../img/common/check_p.png) 0 0 no-repeat;
    background-size: 100% auto; }
  .checkbox.sm input[type='checkbox'] + label:before {
    width: 20px;
    height: 20px; }
  .checkbox input[type='checkbox'] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
  .checkbox input[type='checkbox'] + label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;
    background: url(../img/common/checkbox_n.png) 0 0 no-repeat;
    background-size: 100% auto;
    cursor: pointer; }
  .checkbox input[type='checkbox']:checked + label:before {
    background: url(../img/common/checkbox_p.png) 0 0 no-repeat;
    background-size: 100% auto; }
  .checkbox input[type='checkbox']:disabled + label:before {
    background: url(../img/common/checkbox_d.png) 0 0 no-repeat;
    background-size: 100% auto;
    cursor: default; }

.radiobox {
  display: inline-block;
  position: relative; }
  .radiobox input[type='radio'] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
  .radiobox input[type='radio'] + label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer; }
  .radiobox input[type='radio'] + label:after {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 50%;
    cursor: pointer; }
  .radiobox input[type='radio']:disabled + label:before {
    cursor: default; }
  .radiobox input[type='radio']:checked + label:after {
    background-color: #f02f6f; }
  .radiobox input[type='radio']:disabled + label:after {
    background-color: #cdcdcd;
    cursor: default; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  color: #1a1a1a; }

.field-block {
  position: relative;
  margin-bottom: 4px; }
  .field-block .btn-input {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: auto;
    height: 30px;
    line-height: 30px;
    background-color: white;
    font-size: 11px;
    color: #555555;
    border: 1px solid #777777;
    background-color: white; }
    .field-block .btn-input:disabled {
      color: #cdcdcd;
      border: 1px solid #cdcdcd; }
  .field-block.with-btn input {
    padding-right: 80px; }
    .field-block.with-btn input.confirm {
      padding-right: 120px; }
  .field-block.with-btn .time {
    position: absolute;
    right: 83px;
    bottom: 9px;
    color: red;
    font-family: 'Roboto', sans-serif; }

.search-type-01 {
  position: relative; }
  .search-type-01 input[type='search'],
  .search-type-01 input[type='text'] {
    border-radius: 20px;
    width: 100%;
    height: 32px;
    font-size: 15px;
    border: 0;
    background-color: #f5f5f5;
    padding: 0 56px 0 16px;
    color: #1a1a1a; }
    .search-type-01 input[type='search']::-webkit-input-placeholder,
    .search-type-01 input[type='text']::-webkit-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-01 input[type='search']:-moz-placeholder,
    .search-type-01 input[type='text']:-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-01 input[type='search']::-moz-placeholder,
    .search-type-01 input[type='text']::-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-01 input[type='search']::placeholder,
    .search-type-01 input[type='text']::placeholder {
      color: #cdcdcd;
      opacity: 1;
      font-size: 14px; }
    .search-type-01 input[type='search']:-ms-input-placeholder,
    .search-type-01 input[type='text']:-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-01 input[type='search']::-ms-input-placeholder,
    .search-type-01 input[type='text']::-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-01 input[type='search']:focus,
    .search-type-01 input[type='text']:focus {
      outline: none; }
  .search-type-01 .btn-search {
    position: absolute;
    top: 7px;
    right: 14px;
    width: 18px;
    height: 18px;
    background: url(../img/icon/ico_search_on.png) 0 0 no-repeat;
    background-size: 100% auto; }
  .search-type-01 .btn-delete {
    position: absolute;
    top: 8px;
    right: 38px;
    width: 17px;
    height: 17px; }
    .search-type-01 .btn-delete:before, .search-type-01 .btn-delete:after {
      height: 9px;
      top: 26%; }

.search-type-02 {
  position: relative; }
  .search-type-02 input[type='search'],
  .search-type-02 input[type='text'] {
    border-radius: 20px;
    width: 100%;
    height: 34px;
    font-size: 15px;
    border: 0;
    background-color: white;
    padding: 0 40px;
    color: #1a1a1a; }
    .search-type-02 input[type='search']::-webkit-input-placeholder,
    .search-type-02 input[type='text']::-webkit-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-02 input[type='search']:-moz-placeholder,
    .search-type-02 input[type='text']:-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-02 input[type='search']::-moz-placeholder,
    .search-type-02 input[type='text']::-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-02 input[type='search']::placeholder,
    .search-type-02 input[type='text']::placeholder {
      color: #cdcdcd;
      opacity: 1;
      font-size: 14px; }
    .search-type-02 input[type='search']:-ms-input-placeholder,
    .search-type-02 input[type='text']:-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-02 input[type='search']::-ms-input-placeholder,
    .search-type-02 input[type='text']::-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-02 input[type='search']:focus,
    .search-type-02 input[type='text']:focus {
      outline: none; }
  .search-type-02 .btn-search {
    position: absolute;
    top: 8px;
    left: 14px;
    width: 18px;
    height: 18px;
    background: url(../img/icon/ico_search_input.png) 0 0 no-repeat;
    background-size: 100% auto; }
  .search-type-02 .btn-delete {
    position: absolute;
    top: 8px;
    right: 14px; }

.search-type-03 {
  position: relative; }
  .search-type-03 input[type='search'],
  .search-type-03 input[type='text'] {
    width: 100%;
    height: 34px;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-right: 50px;
    background-color: transparent; }
    .search-type-03 input[type='search']::-webkit-input-placeholder,
    .search-type-03 input[type='text']::-webkit-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-03 input[type='search']:-moz-placeholder,
    .search-type-03 input[type='text']:-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-03 input[type='search']::-moz-placeholder,
    .search-type-03 input[type='text']::-moz-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-03 input[type='search']::placeholder,
    .search-type-03 input[type='text']::placeholder {
      color: #cdcdcd;
      opacity: 1;
      font-size: 14px; }
    .search-type-03 input[type='search']:-ms-input-placeholder,
    .search-type-03 input[type='text']:-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-03 input[type='search']::-ms-input-placeholder,
    .search-type-03 input[type='text']::-ms-input-placeholder {
      color: #cdcdcd;
      font-size: 14px; }
    .search-type-03 input[type='search']:focus,
    .search-type-03 input[type='text']:focus {
      outline: none;
      border-bottom: 1px solid #1a1a1a; }
  .search-type-03 .btn-search {
    position: absolute;
    top: 8px;
    right: 0;
    width: 18px;
    height: 18px;
    background: url(../img/icon/ico_search_on.png);
    background-size: 100% auto; }
  .search-type-03 .btn-delete {
    position: absolute;
    top: 8px;
    right: 30px; }

.comment-field {
  position: relative; }
  .comment-field input[type='text'] {
    border: 1px solid #fd6d95;
    border-radius: 3px 0 0 3px;
    padding: 0 0 0 10px;
    background-color: white;
    width: calc(100% - 45px); }
  .comment-field .btn-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 40px;
    color: white;
    background-color: #f02f6f;
    border-radius: 0 3px 3px 0;
    font-size: 14px; }

.amount {
  width: 120px;
  position: relative; }
  .amount .amount-val {
    height: 35px;
    background-color: white;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-left: 0;
    border-right: 0;
    padding: 0 35px;
    font-size: 16px;
    font-family: "Roboto Regular", sans-serif;
    border-radius: 3px; }
    .amount .amount-val:focus {
      border-color: #cdcdcd; }
  .amount .btn-amount {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-color: white;
    border: 1px solid #cdcdcd; }
    .amount .btn-amount.minus {
      left: 0;
      background-image: url(../img/common/btn_num_minus.png);
      border-radius: 3px 0 0 3px; }
    .amount .btn-amount.plus {
      right: 0;
      background-image: url(../img/common/btn_num_plus.png);
      border-radius: 0 3px 3px 0; }

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer; }
  .switch .btn-switch {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .switch .btn-switch:checked + .slider {
      background-color: #f02f6f; }
      .switch .btn-switch:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px); }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cdcdcd;
    -webkit-transition: .4s;
    transition: .4s; }
    .switch .slider.round {
      border-radius: 50px; }
      .switch .slider.round:before {
        border-radius: 50%; }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s; }

.btn-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: url(../img/icon/ico_top_n.png) 0 0 no-repeat;
  background-size: 100% auto;
  display: none; }

.wrapper {
  position: relative; }

.gnb {
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  overflow: auto; }
  .gnb .btn-gnb-close {
    display: inline-block;
    width: 32px;
    height: 36px;
    background: url(../img/icon/ico_x.png) 0 0 no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 8px;
    right: 10px; }
  .gnb .gnb-header {
    background: #f02f6f; }
    .gnb .gnb-header .gnb-top {
      border-bottom: 1px solid #fd6d95;
      height: 50px;
      color: white;
      line-height: 50px;
      padding-left: 16px;
      font-weight: 700;
      font-size: 15px; }
      .gnb .gnb-header .gnb-top .login a {
        color: white; }
        .gnb .gnb-header .gnb-top .login a:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 32px;
          height: 36px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          margin-top: -3px;
          background-image: url(../img/icon/ico_set_login.png); }
    .gnb .gnb-header .gnb-header-menu ul li {
      float: left;
      width: 33.33%;
      height: 44px;
      border-right: 1px solid #fd6d95;
      box-sizing: border-box; }
      .gnb .gnb-header .gnb-header-menu ul li:last-child {
        border-right: 0; }
      .gnb .gnb-header .gnb-header-menu ul li a {
        color: white;
        display: block;
        text-align: center;
        transform: translateY(-50%);
        font-size: 13px;
        position: relative;
        top: 50%; }
        .gnb .gnb-header .gnb-header-menu ul li a:before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 6px;
          background-position: left center;
          background-repeat: no-repeat;
          background-size: 100% auto;
          margin-top: -4px; }
        .gnb .gnb-header .gnb-header-menu ul li a.my:before {
          background-image: url(../img/icon/ico_m_my.png); }
        .gnb .gnb-header .gnb-header-menu ul li a.order:before {
          background-image: url(../img/icon/ico_m_order.png); }
        .gnb .gnb-header .gnb-header-menu ul li a.cart:before {
          background-image: url(../img/icon/ico_m_cart.png); }
  .gnb .gnb-menu-list .menu-title {
    font-size: 16px;
    line-height: 56px;
    height: 56px;
    font-weight: 700;
    padding-left: 16px;
    border-bottom: 1px solid #f5f5f5; }
    .gnb .gnb-menu-list .menu-title a {
      display: block; }
    .gnb .gnb-menu-list .menu-title.customer a:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      height: 24px;
      margin-right: 8px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      margin-top: -4px;
      background-image: url(../img/icon/ico_center.png); }
    .gnb .gnb-menu-list .menu-title.setting a:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      height: 24px;
      margin-right: 8px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      margin-top: -4px;
      background-image: url(../img/icon/ico_my_edit.png); }
  .gnb .gnb-menu-list .menu-list {
    border-bottom: 9px solid #f0f0f0;
    font-size: 0;
    line-height: 0; }
    .gnb .gnb-menu-list .menu-list > li {
      display: inline-block;
      width: 33.33%; }
      .gnb .gnb-menu-list .menu-list > li:nth-child(3n) {
        border-right: 0; }
      .gnb .gnb-menu-list .menu-list > li > .tab-menu {
        display: block;
        text-align: center;
        height: 74px;
        padding-top: 45px;
        box-sizing: border-box;
        border-bottom: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        font-size: 13px;
        line-height: 21px;
        background-position: center 10px;
        background-repeat: no-repeat;
        background-size: 32px auto; }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.best {
          background-image: url(../img/icon/ico_01_n.png); }
          .gnb .gnb-menu-list .menu-list > li > .tab-menu.best.active {
            background-image: url(../img/icon/ico_01_p.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.living {
          background-image: url(../img/icon/ico_02_n.png); }
          .gnb .gnb-menu-list .menu-list > li > .tab-menu.living.active {
            background-image: url(../img/icon/ico_02_p.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.fashion {
          background-image: url(../img/icon/ico_03_n.png); }
          .gnb .gnb-menu-list .menu-list > li > .tab-menu.fashion.active {
            background-image: url(../img/icon/ico_03_p.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.beauty {
          background-image: url(../img/icon/ico_04_n.png); }
          .gnb .gnb-menu-list .menu-list > li > .tab-menu.beauty.active {
            background-image: url(../img/icon/ico_04_p.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.food {
          background-image: url(../img/icon/ico_05_n.png); }
          .gnb .gnb-menu-list .menu-list > li > .tab-menu.food.active {
            background-image: url(../img/icon/ico_05_p.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.event {
          background-image: url(../img/icon/ico_06_n.png); }
        .gnb .gnb-menu-list .menu-list > li > .tab-menu.active {
          color: #f02f6f; }
      .gnb .gnb-menu-list .menu-list > li.clone-menu1, .gnb .gnb-menu-list .menu-list > li.clone-menu2 {
        display: none; }
      .gnb .gnb-menu-list .menu-list > li.clone-menu1.active, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active {
        display: block;
        width: 100% !important;
        background: #fafafa; }
        .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul li, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul li {
          float: left;
          width: 33.33%;
          height: 46px;
          line-height: 46px;
          text-align: center; }
          .gnb .gnb-menu-list .menu-list > li.clone-menu1.active ul li a, .gnb .gnb-menu-list .menu-list > li.clone-menu2.active ul li a {
            font-size: 13px;
            line-height: 46px;
            color: #777777; }
  .gnb .gnb-banner {
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 16px; }
    .gnb .gnb-banner img {
      width: 100%;
      height: auto; }
  .gnb .gnb-footer {
    border-top: 9px solid #f0f0f0;
    background: #fafafa;
    font-size: 9px;
    line-height: 21px;
    color: #999999;
    padding: 36px 16px;
    letter-spacing: -1.2px; }
    .gnb .gnb-footer a {
      font-size: 9px;
      color: #999999; }
    .gnb .gnb-footer .gnb-footer-menu li {
      float: left; }
      .gnb .gnb-footer .gnb-footer-menu li a {
        color: #555555; }
    .gnb .gnb-footer .copyright {
      margin-bottom: 20px; }
      .gnb .gnb-footer .copyright .company:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 8px;
        background: #d7d7d7;
        margin: 0 4px 0 6px; }
      .gnb .gnb-footer .copyright .copyright-link {
        color: #555555;
        display: inline-block;
        margin-left: 4px;
        font-size: 9px; }
        .gnb .gnb-footer .copyright .copyright-link:after {
          content: '';
          border: solid #777777;
          border-width: 0 1px 1px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          margin-bottom: 2px;
          margin-left: 4px;
          padding: 2px;
          margin-bottom: 1px; }
    .gnb .gnb-footer .gnb-footer-menu {
      margin-bottom: 10px; }
      .gnb .gnb-footer .gnb-footer-menu li:last-child:after {
        display: none; }
      .gnb .gnb-footer .gnb-footer-menu li:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 8px;
        background: #d7d7d7;
        margin: 0 4px 0 6px; }
  .gnb .sub-menu {
    display: none; }
    .gnb .sub-menu a {
      font-size: 13px;
      line-height: 21px; }
  .gnb .clone-menu1 .sub-menu, .gnb .clone-menu2 .sub-menu {
    display: block; }

/*# sourceMappingURL=common.css.map */
