<!doctype html>
<html>
<head>
    <title>로그인 성공</title>
    <meta charset="utf-8" />
</head>
<body>
    <form name="login_form" method='post' action="/process_login">
    <table>
        <tr>
            <td>사용자 아이디 : <%= userid %></td>
        </tr>
        <tr>
            <td>사용자 이름 : <%= username %></td>        
        </tr>
        <tr>
            <td colspan="2">만나서 반갑습니다. <br/><br/> <a href=/login>다시 로그인 하기</a></td>        
        </tr>
    </table>
    </form>
</body>

</html>

