<!doctype html>
<html>
<head>
    <title>테스트 뷰템플릿</title>
    <meta charset="utf-8" />
</head>
<body>
    <form name="login_form" method='post' action="/process_login">
    <table>
        <tr>
            <td>아이디</td>
            <td> <input type="text" name="userid" values=""></td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td> <input type="text" name="pwd" values=""></td>
        </tr>
        <tr>
            <td colspan="2"><button name="btn" value="로그인">로그인</button></td>
        </tr>
    </table>
    </form>
</body>

</html>

